.menu-items-section {
  display: flex;
  flex-direction: column;
}

.menu-items-header {
  @include serif-stack();
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  font-style: italic;
  font-weight: bold;
}

.menu-items-list {

}
