.menu-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $content-column-width;
  margin: 0 auto 40px;

  > .menu-header {
  }

  > section {
  }

  > footer {
    margin: 20px;
    text-align: center;
  }
}
