// --- Shared values --- //

$colors: (
  black: #000000,
  white: #FFFFFF,

  gray-1: #212121, // 87% opacity of black on white
  gray-2: #727272, // 54% opacity of black on white
  gray-3: #b8b8b8, // 26% opacity of black on white
  gray-4: #dadada, // 12% opacity of black on white
  gray-5: #f9f9f9,

  blue-1: #2299EE,
  blue-2: #77CCFF,

  yellow-1: #D6AF00,
  yellow-2: #FFE675,

  red-1: #ce2b37,
  green-1: #009246
);

$font-sizes: (
  xs: 12px,
  s: 14px,
  m: 16px,
  l: 22px,
  xl: 38px,
);

//@font-face {
//  font-family: font-name;
//  src: url('../fonts/**');// TODO: add custom font
//}

@mixin helvetica-stack() {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

@mixin serif-stack() {
  font-family: Georgia, serif;
  font-weight: 300;
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-size($size-name) {
  @return map-get($font-sizes, $size-name);
}

$content-column-width: 1000px;

// --- General styles --- //

ul, ol, dl, dd, dt, li, div, body, p, form, hr, h1, h2, h3, h4, h5, img, button {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}

html {
  font-size: font-size(m);
  line-height: font-size(m);
}

body {
  @include helvetica-stack();

  padding-bottom: 120px;

  color: color(gray-1);
  background-color: color(gray-5);
}

h1, h2, h3, h4, h5 {
  text-align: center;
//  font-family: ...;
}

a {
  color: color(gray-1);
  text-decoration: none;
  transition: color 0.1s;
}
a:visited {
  color: color(gray-1);
}
a:hover {
  color: color(gray-1);
//  text-decoration: underline;
}
a:active {
  color: color(gray-1);
}

button {
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
}
button:active {
}

.full-width-bar {
  position: relative;
  width: 100%;
  max-width: $content-column-width;
  margin-left: auto;
  margin-right: auto;
}

.full-width-bar:before,
.full-width-bar:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 999999px;
}

.full-width-bar:before {
  right: 100%;
}

.full-width-bar:after {
  left: 100%;
}

#react {
  width: 100%;
  overflow-x: hidden;
}

// --- Include all partials --- //

@import 'components/CartItemsSection/CartItemsSection';
@import 'components/CartListItem/CartListItem';
@import 'components/MenuApp/MenuApp';
@import 'components/MenuCategoriesSection/MenuCategoriesSection';
@import 'components/MenuCategoryListItem/MenuCategoryListItem';
@import 'components/MenuHeader/MenuHeader';
@import 'components/MenuItemsSection/MenuItemsSection';
@import 'components/MenuListItem/MenuListItem';

@import 'routes/CartRoute/CartRoute';
@import 'routes/CheckOutRoute/CheckOutRoute';
@import 'routes/HomeRoute/HomeRoute';
